*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    
}
.parent{
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */
    overflow-x:hidden;
    background-color: rgb(251, 251, 251);
}
.logo{
    width: 170px;
    /* mix-blend-mode: multiply; */
}
nav{
    display: flex;
    width: 80%;
    height: 10VH;
    margin: auto;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    
}
nav ul li{
    display: inline;
    list-style-type: none;
    margin: 10px 20px;
    position: relative;
    /* gap: 50px; */
}
nav ul li a{
    text-decoration: none;
    color: rgb(7, 95, 146);
}
a:hover{
      color: rgb(36, 168, 245);
      border: 1px solid rgb(36, 168, 245);
      padding: 7px 15px;
      border-radius: 25px;
}
.icon:hover{
    background-color: rgb(247, 243, 243);
    border: 2px solid rgb(247, 243, 243);
    border-radius: 50px;
}
.bage{
    /* width: 100%; */
    /* height: 100%; */
}
video{
    mix-blend-mode: multiply;
    width: 100%;
    height: 10%;
}
.second{
    width: 100%;
    height: 100vh;
    background-image: url(/six/background-image.png);
    background-color: rgb(251, 251, 251);
}
.head{
    align-items: center;
    justify-content: center;
    display: flex;
   /* margin-left:45%; */
   background-image:url(/bg\ heading.webp);
   background-repeat: no-repeat;
  background-size: 90px;
    margin: 0%;
  background-position:center;
  /* border: 1px solid black; */
  width: 100%;
  height: 13%;
}
.enter{
    /* padding-top: px; */
    margin-left:750px;
    width: 50%;
    /* border: 1px solid black; */
    font-size: 22px;
    color:rgb(7, 95, 146) ;
    
}
.paragarph-one{
    /* margin-top: 90px; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10%;
}
.para{
    margin-left: 60px;
}
img{
    mix-blend-mode: multiply;
}

.team{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
}
.foot{
    background-color:  rgb(251, 251, 251);
}
.third{
    width: 100%;
    height:100%;
    margin-top: 240px;
    background-image: url(./six/background-image.png);
    background-color: rgb(251, 251, 251);
}
.backleft{
    background-image: url(./three/third\ left.webp);
    background-size: 500px;
    background-repeat: no-repeat;
    margin-left:80%;
}
.header{
    width: 100%;
    height: 10%;
    background-image: url(./bg\ heading.webp);
    background-repeat: no-repeat;
    /* position: absolute; */
    background-size: 90px;
    background-position: center;
    
}
.threehead{
    margin-left:810px;
    font-size: 20px;
    /* align-items: center; */
    padding-top: 30px;
    color: rgb(7, 95, 146);
}
.content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 50px;
    /* border: 1px solid; */

}
.threeimg{
    width: 200px;
    
   
}
p{
    font-size: 12px;color: gray;

}
.three{
    font-size: 18px;
    color: rgb(7, 95, 146);
    align-items: center;
    margin-left: 40px;
    font-weight:bold;
}
.card-one:hover{
    border: 1px solid white;
    background-color: white ;
    padding: 50px 0px 30px 0px;
    border-radius: 30px;
}
.forth{
    width: 100%;
    height: 100vh;
    background-image: url(./six/background-image.png);
   background-color: rgb(251, 251, 251);
}
.content-one{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    gap:100px;
}
.forimg{
    width: 300px;
}
.for{
    font-size: 18px;
    color: rgb(7, 95, 146);
    align-items: center;
    margin-left: 70px;
    font-weight:bold;
}
.card-two:hover{
    border: 1px solid white;
    background-color:white;
    padding: 50px 0px 30px 0px;
    border-radius: 30px;
}
.five{
    width: 100%;
    height: 100vh;
    background-image: url(./six/background-image.png);
    background-color: rgb(251, 251, 251); 
}
.tittle{
    background-image: url(./bg\ heading.webp);
    background-repeat: no-repeat;
    /* position: absolute; */
    background-size: 90px;
    background-position: center;
    width: 100%;
    height: 15%;
}
.fivehead{
    margin-left:792px;
    font-size: 18px;
    /* align-items: center; */
    padding-top: 56px;
    color: rgb(7, 95, 146);
}
.contract{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    gap: 200px;
    align-items: center;
}
/* .card-five{
    width: 200px;
} */
 .fiveimg{
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 60%;
 }
 .fiv{
    font-size: 18px;
    color: rgb(7, 95, 146);
    align-items: center;
    margin-left: 40px;
    font-weight:bold;
 }
 .putt{
    padding: 10px 20px;
    border: 1px solid  rgb(36, 168, 245);
    background-color: white;
    border-radius: 50px;
    color: rgb(36, 168, 245) ;
    margin-left: 20px;

 }
 .six{
    width: 100%;
    height: 100vh;
    background-image: url(./six/background-image.png);
    background-color: rgb(251, 251, 251); 
 }
 .time{
    background-image: url(./bg\ heading.webp);
    background-repeat: no-repeat;
    /* position: absolute; */
    background-size: 90px;
    background-position: center;
    width: 100%;
    /* margin-left:0%; */
    height: 15%;
}

 .sixhead{
    margin-left:835px;
    font-size: 25px;
    /* align-items: center; */
    padding-top: 49px;
    color: rgb(7, 95, 146);
 }
 .sixcontent{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
 }
 .siximg{
    width: 350px;
    /* height: 200px; */
    border-radius: 25px;

 }
 .sixhesd{
    font-size: 18px;
    color: rgb(7, 95, 146);
    align-items: center;
    margin-left: 65px;
    font-weight:bold;
    padding-top: 20px;
 }
 .sixhesd:hover{
    border: 1px solid  rgb(7, 95, 146);
    padding:10px 50px 10px 70px;
    margin-left: 19px;
    margin-top: 10px;
    border-radius: 30px;
 }
 .seven{
    width: 100%;
    height: 50vh;
 }
 .one-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 120px;
 }
 .week{
    width: 100px;
    margin-left: 20%;
    padding-top: 5%;
    /* border: 1px solid; */
 }
 .moth{
    width: 100px;
    margin-right:;
    /* padding-top: 5%; */
    /* border: 1px solid; */
 }
 nav.zee{
        display: flex;
        margin: auto;
        padding: 20px 0px;
        align-items: center;
        padding-top: 10%;
        justify-content: space-between;
        /* border: 2px solid black; */

 }
 .right img{
    width: 150px;
 }
 /* .secon-div{
    margin-left: 19%;
    border: 1px solid;
 } */
  .second-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .right{
    margin-left:370px;
  }
  p{
    padding-top: 20px;
  }
  .wink{
    border: 1px solid black;
    padding: 20px;
    border-radius: 50px;
    width: 70px;
  }
  .mtt{
    padding-top: 25px;
    
  }
  svg{
    width: 60px;
  }
